[class*="messages-"] > [class*="containerCozy-"] {
	margin: 0;
	padding: 0;
}
[class*="messages-"] > [class*="containerCozy-"] > [class*="dividerEnabled-"],
[class*="messages-"] > [class*="divider-"] {
	margin: .5em 20px;
}
[class*="channelTextArea-"] {
	margin-top: .5em;
	padding-top: .5em;
}
[class*="headerCozy-"] [class*="wrapper-"][role="button"] {
	margin: 0 10px 0 20px;
}
[class*="reactions-"] {
	margin-top: .25em;
}

[class*="markup-"] .emoji.emoji.emoji[src$=".svg"]:not(.jumboable) {
	width: 1em;
	height: 1em;
	vertical-align: top;
	min-width: initial;
	min-height: initial;
	margin: 0;
	position: relative;
	top: .15em;
}

[class*="textArea-"] {
	letter-spacing: normal;
	resize: vertical;
}

* {
	animation: none !important;
}
