[class*="messages-"] > [class*="containerCozy-"] {
	margin: 0;
	padding: 0;
}
[class*="messages-"] > [class*="containerCozy-"] > [class*="dividerEnabled-"],
[class*="messages-"] > [class*="divider-"] {
	margin: .5em 20px;
}
[class*="channelTextArea-"] {
	margin-top: .5em;
	padding-top: .5em;
}
[class*="headerCozy-"] [class*="wrapper-"][role="button"] {
	margin: 0 10px 0 20px;
}
[class*="reactions-"] {
	margin-top: .25em;
}

[class*="markup-"] .emoji.emoji.emoji[src$=".svg"]:not(.jumboable) {
	width: 1em;
	height: 1em;
	vertical-align: top;
	min-width: initial;
	min-height: initial;
	margin: 0;
	position: relative;
	top: .15em;
}

[class*="channel-"][href="/store"],
textarea + [class*="buttons-"] > *:not(:last-child),
[class*="textArea-"] + [class*="buttons-"] > *:not(:last-child),
[class*="unreadMentionsIndicatorTop"] + [class*="scrollerWrap-"] > [class*="scroller-"] > [class*="listItem-"]:last-child,
[class*="unreadMentionsIndicatorTop"] + [class*="scrollerWrap-"] > [class*="scroller-"] > [class*="listItem-"]:nth-last-child(2)
{
	display: none;
}

[class*="textArea-"] {
	letter-spacing: normal;
}

[class*="uploadModalIn-"] [class*="uploadDropModal-"] [class*="instructions-"],
[class*="uploadModalIn-"] [class*="uploadDropModal-"] [class*="title-"] {
	opacity: 1
}

[class*="scroller-"]::after {
	height: 0;
}

* {
	animation: none !important;
	transition: none !important;
}
